* {
    padding: 0px;
    margin: 0px;
}

.section-one {
    background-color: white;
    height: 100vh;
}

.sticky-parent {
    position: relative;
}



.timeline-slide {
    background-color: #f7f7f7;
    height: 100vh;
    box-shadow: inset 0 0 0 2px red;

}

.slide-one {
    z-index: 0
}

.slide-two {
    z-index: -1
}

.slide-three {
    z-index: -2
}

.slide-four {
    z-index: -3
}

.section-three {
    background-color: white;
    height: 100vh;
}

.timeline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // box-shadow: inset 0 0 0 10px #000000;
    height: 100vh;
    width: 100vw;
    // background-color: black;
}

// .sticky-bottom {
//     position: absolute;
//     bottom: 0px;
//     top: unset;
// }

.timeline {
    width: 70vw;
    height: 20vh;
    background-color: white;
    position: relative;
}

.pointer {
    width: 4px;
    height: 100%;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
}

.sticky-vp {
    position: fixed;
    top: 0px;
}

.sticky-child {
    position: absolute;
    top: 0px;
}

.red-box {
    height: 100px;
    width: 100px;
    background-color: red;
}